{% extends 'base.html.twig' %}

{% block title %}Participant index{% endblock %}

{% block body %}
    <h1>Participant index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Pseudo</th>
                <th>Nom</th>
                <th>Prenom</th>
                <th>Telephone</th>
                <th>Mail</th>
                <th>Admin</th>
                <th>Actif</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for participant in participants %}
            <tr>
                <td>{{ participant.id }}</td>
                <td>{{ participant.pseudo }}</td>
                <td>{{ participant.nom }}</td>
                <td>{{ participant.prenom }}</td>
                <td>{{ participant.telephone }}</td>
                <td>{{ participant.mail }}</td>
                <td>{{ participant.administrateur ? 'Oui' : 'Non' }}</td>
                <td>{{ participant.actif ? 'Oui' : 'Non' }}</td>
                <td>
                    <a href="{{ path('profil_show', {'id': participant.id}) }}">Voir</a><br>
                    <a href="{{ path('profil_edit', {'id': participant.id}) }}">Modifier</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="11">Aucun enregistrement</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="white-font button" href="{{ path('profil_new') }}">Nouveau</a>
{% endblock %}
