{% extends 'base.html.twig' %}

{% block title %}
    {% if app.user.id == participant.id %}
        Sortir.com - Mon profil
    {% else %}
        Sortir.com - Profil de {{ participant.pseudo }}
    {% endif %}
{% endblock %}

{% block body %}
    {% if app.user.id == participant.id %}
        <h1>Mon profil</h1>
    {% else %}
        <h1>{{ participant.pseudo }}</h1>
    {% endif %}
    <b>Prénom :</b>{{ participant.prenom }}<br>
    <b>Nom :</b> {{ participant.nom }}<br>
    <b>Telephone :</b> {{ participant.telephone ? participant.telephone : 'non renseigné' }}<br>
    <b>Email :</b> {{ participant.mail ? participant.mail : 'non renseigné' }}<br>
    <b>Ville de rattachement :</b> {{ participant.site.nom }}<br>
    {% if app.user.administrateur %}
        {{ include('profil/_delete_form.html.twig') }}
        {% if participant.actif %}
            {{ include('profil/_disable_form.html.twig') }}
        {% else %}
            {{ include('profil/_enable_form.html.twig') }}
        {% endif %}
    {% endif %}
    <br>
    {% if app.user.id == participant.id %}
        <a class="button" href="{{ path('profil_edit', {'id': participant.id}) }}">Modifier</a>
    {% endif %}
    <a class="button" href="{{ path('sortie_index') }}">Retour</a>
{% endblock %}
