{% extends 'base.html.twig' %}

{% block title %}Participant{% endblock %}

{% block body %}
    <h1>{{ participant.pseudo }}</h1>

        <b>Prénom :</b>{{ participant.prenom }}<br>
        <b>Nom</b> {{ participant.nom }}<br>
        <b>Telephone</b> {{ participant.telephone }}<br>
        <b>Email</b> {{ participant.mail }}<br>
        <b>Ville de rattachement :</b> {{ participant.site.nom }}<br>
    <button class="button"><a class="white-font" href="{{ path('sortie_index') }}">Retour</a></button>
{% endblock %}
