{{ form_start(form) }}
    {{ form_widget(form) }}
<select name="places_to_go" id="places_to_go">
    {# <option value="" selected="selected" disabled>- Choisissez un lieu -</option> #}
    {% for lieu in lieux %}
        <option>{{ lieu.nom }}</option>
    {% endfor %}
</select>
<label id="nom"></label>
<label id="rue"></label>
<label id="longitude"></label>
<label id="latitude"></label>
<label id="villeNom"></label>
<label id="villeCodePostal"></label>
<input type="hidden" value="{{ infosLieu }}" id="hidden-degeu">
<button class="button">{{ button_label|default('Save') }}</button>
{{ form_end(form.nom) }}
