{{ form_start(form) }}
<div class="grid-x grid-margin-x">
    <div class="cell small-12 medium-12 large-6">
        <div class="grid-x grid-margin-x">
            <div class="cell small-6">{{ form_label(form.nom) }}</div>
            <div class="cell small-6">{{ form_widget(form.nom) }}</div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell small-6">{{ form_label(form.dateDebut) }}</div>
            <div class="cell small-6">{{ form_widget(form.dateDebut) }}</div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell small-6">{{ form_label(form.dateCloture) }}</div>
            <div class="cell small-6">{{ form_widget(form.dateCloture) }}</div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell small-offset-6 small-6">{{ form_errors(form.nbInscriptionsMax) }}</div>
            <div class="cell small-6">{{ form_label(form.nbInscriptionsMax) }}</div>
            <div class="cell small-6">{{ form_widget(form.nbInscriptionsMax) }}</div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell small-offset-6 small-6">{{ form_errors(form.duree) }}</div>
            <div class="cell small-6">{{ form_label(form.duree) }}</div>
            <div class="cell small-6">{{ form_widget(form.duree) }}</div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell small-6">{{ form_label(form.description) }}</div>
            <div class="cell small-6">{{ form_widget(form.description) }}</div>
        </div>
    </div>
    <div class="cell small-12 medium-12 large-6">
        <div class="grid-x grid-margin-x">
            <div class="cell small-6">Ville :</div>
            <div class="cell small-6">
                <select name="ville" id="ville">

                    {% for ville in villes %}
                        {% if (sortie.lieu) and (ville == sortie.lieu.ville) %}
                            <option selected="selected">{{ ville.nom }} </option>
                        {% else %}
                            <option>{{ ville.nom }}</option>
                        {% endif %}
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell small-6">Lieu :</div>
            <div class="cell small-6">
                <select name="places_to_go" id="places_to_go">
                    {% for lieu in lieux %}
                        <option {{ lieu == sortie.lieu ? 'selected="selected"' : '' }}>{{ lieu.nom }}</option>
                    {% endfor %}
                </select>
            </div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell small-6">Rue :</div>
            <div class="cell small-6"><label id="rue"></label></div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell small-6">Code postal :</div>
            <div class="cell small-6"><label id="villeCodePostal"></label></div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell small-6">Latitude :</div>
            <div class="cell small-6"><label id="latitude"></label></div>
        </div>
        <div class="grid-x grid-margin-x">
            <div class="cell small-6">longitude :</div>
            <div class="cell small-6"><label id="longitude"></label></div>
        </div>
    </div>
    <input type="hidden" value="{{ infosLieu }}" id="hidden-degeu">

</div>