{% extends 'base.html.twig' %}

{% block title %}Edit Sortie{% endblock %}

{% block body %}
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <h3 class="cell small-4 large-offset-4 title-centered">Modifier une sortie</h3>
        </div>
        {{ include('sortie/_form.html.twig', {'button_label': 'Enregistrer'}) }}
        <div class="cell small-12">
            <div class="grid-x grid-margin-x">
                <div class="cell small-3">
                    {{ form_widget(form.creer) }}
                </div>
                <div class="cell small-3">
                    {{ form_widget(form.publier) }}
                </div>
                <div class="cell small-3">
                    {{ form_end(form) }}
                    {{ include('sortie/_delete_form.html.twig') }}
                </div>
                <div class="cell small-3">
                    <a class="white-font button" href="{{ path('sortie_index') }}">Annuler</a>
                </div>
            </div>
        </div>
    </div>

    </div>
{% endblock %}

