{% extends 'base.html.twig' %}

{% block title %}Sorties{% endblock %}

{% block body %}
    <div class="grid-container">
        <div class="medium-6 cell small-3 medium-4 large-5">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="callout {{ label }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endfor %}
            <h1>Sorties</h1>
    </div>


            <div class=" grid-container-fluid float-right ">
                <div class="medium-6 cell small-3 medium-4 large-5">
                    Date du jour : {{ "now"| date ("d/m/Y") }}</div>
            </div>
            <br>

            <div class="grid-container-fluid float-right">
                <div class="medium-6 cell small-3 medium-4 large-5">
                    Participant : {{ app.user.prenom }}</div>
            </div>


        <div class="grid-container">
            <h5>Filtrer les sorties</h5>

            <form action="" method="post">
                <div class="grid-container-fluid">
                    <div class="grid-x grid-padding-x"> {# Si on lenlève, les champs "site" et "nom de la sortie contient" reviendront l'un en dessous de l'autre  #}
                        <div class="medium-6 cell small-3 medium-4 large-5">
                               <label>Sites </label>
                            <select>
                                    {% for site in sites %}
                                <option value="{{ site.id }}">{{ site.nom }}</option>
                                {% endfor %}
                            </select>
                        </div>
                        <div class="medium-6 cell small-3 medium-4 large-5">
                            <label>Le nom de la sortie contient </label>
                            <input type="search" placeholder="Rechercher">
                            <button type="button" class="button">Rechercher</button>
                        </div>
                    </div>
                </div>
            </form>

            <div class="grid-container">
                <fieldset class="large-7 cell">
                    <input id="checkbox1" type="checkbox"><label for="checkbox1">Sorties dont je suis
                        l'organisateur</label>
                    <input id="checkbox2" type="checkbox"><label for="checkbox2">Sorties auxquelles je suis
                        inscrit/e</label>
                    <input id="checkbox3" type="checkbox"><label for="checkbox3">Sorties auxquelles je ne suis pas
                        inscrit/e</label>
                    <input id="checkbox4" type="checkbox"><label for="checkbox3">Sorties passées</label>
                </fieldset>
            </div>

            <div class="row">
            <div id="dpMonths" style="max-width:200px;">
                <div class="cell small-6">
                    <label>Entre </label>
                    <input size="16" type="datetime-local">
                </div>

                <div class="cell small-6">
                    <label>Et </label>
                    <input size="16" type="date" id="end" name="end-date">
                </div>
            </div>
        </div>

        <div class="grid-container">
            <div class="grid-x grid-padding-x">
                <table class="table">
                    <thead>
                    <tr>
                        <th>Nom de la sortie</th>
                        <th>Date de la sortie</th>
                        <th>Clôture</th>
                        <th>Inscrits / places</th>
                        <th>Etat</th>
                        <th>Inscrit</th>
                        <th>Organisateur</th>
                        <th>Actions</th>
                    </tr>
                    </thead>

            <tbody>
            {% for sortie in sorties %}
{#                if sortie.site#}
                <tr>
                    <div class="grid-container">
                        <td>{{ sortie.nom }}</td>
                        <td>{{ sortie.dateDebut ? sortie.dateDebut|date('d/m/Y à H:i') : '' }}</td>
                        <td>{{ sortie.dateCloture ? sortie.dateCloture|date('d/m/Y') : '' }}</td>
                        <td>{{ sortie.inscriptions.count() }} / {{ sortie.nbInscriptionsMax }}</td>
                        <td>{{ sortie.etat.libelle }}</td>
                        <td>
                            <div style="text-align: center;">
                                {% for inscription in sortie.inscriptions %}
                                    {% if inscription.participant.id == app.user.id %}
                                        X {# Affiche une croix si le participant est inscrit à la sortie #}
                                        {% set inscrit = true %}
                                    {% endif %}
                                {% endfor %}
                            </div>
                        </td>

                        <td>{{ sortie.organisateur.prenom }} {{ sortie.organisateur.nom }} </td>

                        <td>
                            {% if app.user.id == sortie.organisateur.id %}
                                <a href="{{ path('sortie_edit', {'id': sortie.id}) }}">Modifier</a>
                            {% else %}
                                <a href="{{ path('sortie_show', {'id': sortie.id}) }}">Afficher</a>
                                {% if (sortie.dateDebut | date("U") > "now"|date("U")) and (sortie.etat.libelle == "Ouverte") %}
                                    {% set inscrit = false %}
                                    {% for inscription in sortie.inscriptions %}
                                        {% if inscription.participant.id == app.user.id %}
                                            <a href="{{ path('sortie_quit', {'id': inscription.id}) }}">Se désister</a>
                                            {% set inscrit = true %}
                                        {% endif %}
                                    {% endfor %}
                                    {% if not inscrit %}
                                        <a href="{{ path('sortie_join', {'id': sortie.id}) }}">S'inscrire</a>
                                    {% endif %}

                                {% endif %}
                            {% endif %}

                            {# <a href="{{ path('', {'id': }) }}">Annuler</a> #}
                        </td>
                    </div>
                </tr>

            {% else %}
                <tr>
                    <td colspan="9">no records found</td>
                </tr>
            {% endfor %}
            </tbody>
            </table>
        </div>
    </div>

    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <a href="{{ path('sortie_new') }}" class="button">Créer une sortie </a>
        </div>
    </div>

{% endblock %}
