{% extends 'base.html.twig' %}

{% block title %}Sorties{% endblock %}

{% block body %}

    <div class="grid-container">
        <div class="medium-6 cell small-3 medium-4 large-5">
            <h1>Sorties</h1>


            <div class=" grid-container-fluid float-right ">
                <div class="medium-6 cell small-3 medium-4 large-5">
                    Date du jour : {{ "now"| date ("d/m/Y") }}</div>
            </div>
            <br>

            <div class="grid-container-fluid float-right">
                <div class="medium-6 cell small-3 medium-4 large-5">
                    Participant : {{ app.user.prenom }}</div>
            </div>
        </div>

        <div class="grid-container">
            <h5>Filtrer les sorties</h5>

            <form action="" method="post">
                <div class="grid-container-fluid">
                    <div class="grid-x grid-padding-x">
                        <div class="medium-6 cell small-3 medium-4 large-5">
                            <label>Sites </label>
                            <select>
                                <option>
                                    {% for site in sites %}
                                <option value="{{ site.id }}">{{ site.nom }}</option>
                                {% endfor %}
                                </option>
                            </select>
                        </div>
                        <div class="medium-6 cell small-3 medium-4 large-5">
                            <label>Le nom de la sortie contient </label>
                            <input type="search" placeholder="Rechercher">
                            <button type="button" class="button">Rechercher</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <div class="grid-container">
            <fieldset class="large-7 cell">
                <input id="checkbox1" type="checkbox"><label for="checkbox1">Sorties dont je suis l'organisateur</label>
                <input id="checkbox2" type="checkbox"><label for="checkbox2">Sorties auxquelles je suis
                    inscrit/e</label>
                <input id="checkbox3" type="checkbox"><label for="checkbox3">Sorties auxquelles je ne suis pas
                    inscrit/e</label>
                <input id="checkbox4" type="checkbox"><label for="checkbox3">Sorties passées</label>
            </fieldset>
        </div>
        </form>
    </div>

    <div class="row collapse date" id="dpMonths" style="max-width:200px;">
        <div class="small-2 columns">
        </div>
        <label>Entre </label>
        <div class="small-10 columns">
            <input size="16" type="datetime-local">
        </div>
        <label>Et </label>
        <div class="small-10 columns">
            <input size="16" type="date" id="end" name="end-date">
        </div>
    </div>

    <div class="grid-container">
        <div class="grid-x grid-padding-x">
            <table class="table">
                <thead>
                <tr>
                    <th>Nom de la sortie</th>
                    <th>Date de la sortie</th>
                    <th>Clôture</th>
                    <th>Inscrits / places</th>
                    <th>Etat</th>
                    <th>Inscrit</th>
                    <th>Organisateur</th>
                    <th>Actions</th>
                </tr>
                </thead>
            </table>
        </div>
        <tbody>
        {% for sortie in sorties %}
            <tr>

                <div class="grid-container">
                    <td>{{ sortie.nom }}</td>
                    <td>{{ sortie.dateDebut ? sortie.dateDebut|date('Y-m-d H:i:s') : '' }}</td>
                    <td>{{ sortie.dateCloture ? sortie.dateCloture|date('Y-m-d H:i:s') : '' }}</td>
                    <td> {# Nombre inscrits / #} {{ sortie.nbInscriptionsMax }}</td>
                    <td>{{ sortie.etat.libelle }}</td>

                    {# TO DO #}
                    <td>
                        <div style="text-align: center;"> {{ app.user.pseudo ? 'x' : '' }} </div>
                    </td>

                    <td>{{ sortie.organisateur.prenom }} {{ sortie.organisateur.nom }} </td>

                    <td>
                        <a href="{{ path('sortie_show', {'id': sortie.id}) }}">Afficher</a> <br>

                        {% if app.user.id == sortie.organisateur.id %}
                            <a href="{{ path('sortie_edit', {'id': sortie.id}) }}">Modifier</a>
                        {% endif %}

                        {% if (sortie.dateDebut | date("U") > "now"|date("U")) and (sortie.etat.libelle == "Ouverte") %}
                            <a href="{{ path('sortie_join', {'id': sortie.id}) }}">S'inscrire </a>
                        {% endif %}
                    </td>
                    {# <a href="{{ path('', {'id': }) }}">Annuler</a> #}
                </div>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
        </table>
        <a href="{{ path('sortie_new') }}" class="button">Créer une sortie </a>
    </div>
{% endblock %}
