{% extends 'base.html.twig' %}

{% block title %}Sortir.com{% endblock %}

{% block body %}
<div class="grid-container">
    <div class="grid-x grid-margin-x">
        <div class="small-12">
            {% for label, messages in app.flashes %}
                {% for message in messages %}
                    <div class="callout {{ label }}" data-closable>
                        {{ message }}
                        <button class="close-button" aria-label="Dismiss alert" type="button" data-close>
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                {% endfor %}
            {% endfor %}

        </div>
        <div class="small-12">
            <div class=" grid-container-fluid float-right ">
                <div>
                    Date du jour : {{ "now"| date ("d/m/Y") }}</div>
            </div>
            <br>
            <div class="grid-container-fluid float-right">
                <div>
                    Participant : {{ app.user.prenom }}</div>
            </div>
        </div>
    </div>
    <div class="grid-x grid-margin-x">

        <div class="cell small-12 medium-12 large-12">
            <h5>Filtrer les sorties</h5>
        </div>

        <div class="cell small-12 medium-12 large-5">
            <div class="grid-x grid-margin-x">
                <div class="cell small-6">
                    <label>Site :</label>
                </div>
                <div class="cell small-6">
                    <select>
                        {% for site in sites %}
                            <option value="{{ site.id }}" {{ site == app.user.site ? 'selected="selected"' : '' }}>{{ site.nom }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>
            <div class="grid-x grid-margin-x">
                <div class="cell small-6">
                    <label>Le nom de la sortie contient :</label>
                </div>
                <div class="cell small-6">
                    <input type="search" placeholder="Rechercher">
                </div>
            </div>
            <div class="grid-x grid-margin-x">
                <div class="cell small-6 medium-6 large-2">
                    <label>Entre :</label>
                </div>
                <div class="cell small-6 medium-6 large-4">
                    <input type="date" value="{{ "now"| date ("d/m/Y") }}">
                </div>
                <div class="cell small-6 medium-6 large-2">
                    <label>Et :</label>
                </div>
                <div class="cell small-6 medium-6 large-4">
                    <input type="date" value="{{ "now"| date ("d/m/Y") }}">
                </div>
            </div>
        </div>
        <div class="cell small-12 medium-12 large-5">
            <div class="grid-x grid-margin-x">
                <div class="cell small-12"><input id="checkbox1" type="checkbox"><label for="checkbox1">Sorties dont je
                        suis l'organisateur</label></div>
                <div class="cell small-12"><input id="checkbox2" type="checkbox"><label for="checkbox2">Sorties
                        auxquelles je suis inscrit/e</label></div>
                <div class="cell small-12"><input id="checkbox3" type="checkbox"><label for="checkbox3">Sorties
                        auxquelles je ne suis pas inscrit/e</label></div>
                <div class="cell small-12"><input id="checkbox4" type="checkbox"><label for="checkbox4">Sorties
                        passées</label></div>
            </div>
        </div>
        <div class="cell small-12 medium-12 large-2">
            <button class="button">Rechercher</button>
            </form>
        </div>
    </div>

    <div class="grid-container">
        <div class="grid-container-12">
            <div class="grid-container medium-cell-block table-scroll">

                <table class="table cell medium-12 medium-cell-block-y">
                    <thead>
                    <tr>
                        <th>Nom de la sortie</th>
                        <th>Date de la sortie</th>
                        <th class="colonne_table_tel">Lieu</th>
                        <th class="colonne_table_pc">Clôture</th>
                        <th class="colonne_table_pc">Inscrits / places</th>
                        <th class="colonne_table_pc">Etat</th>
                        <th class="colonne_table_pc">Inscrit</th>
                        <th class="colonne_table_pc">Organisateur</th>
                        <th class="colonne_table_pc">Actions</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for sortie in sorties %}
                        {# if sortie.site #}
                        <tr>
                            <div class="grid-container">
                                <td class="colonne_table_pc">{{ sortie.nom }}</td>
                                <td class="colonne_table_tel"><a href="{{ path('sortie_show', {'id': sortie.id}) }}">{{ sortie.nom }}</a></td>
                                <td>{{ sortie.dateDebut ? sortie.dateDebut|date('d/m/Y H:i') : '' }}</td>
                                <td class="colonne_table_tel">{{ sortie.lieu.ville.nom }}</td>
                                <td class="colonne_table_pc">{{ sortie.dateCloture ? sortie.dateCloture|date('d/m/Y') : '' }}</td>
                                <td class="colonne_table_pc">{{ sortie.inscriptions.count() }} / {{ sortie.nbInscriptionsMax }}</td>
                                <td class="colonne_table_pc">{{ sortie.etat.libelle }}</td>
                                <td class="colonne_table_pc">
                                    <div style="text-align: center;">
                                        {% for inscription in sortie.inscriptions %}
                                            {% if inscription.participant.id == app.user.id %}
                                                X {# Affiche une croix si le participant est inscrit à la sortie #}
                                                {% set inscrit = true %}
                                            {% endif %}
                                        {% endfor %}
                                    </div>
                                </td>
                                <!-- Pseudo de l'organisateur -->
                                <td class="colonne_table_pc">
                                    <a href="{{ path('profil_show', {'id': sortie.organisateur.id}) }}">{{ sortie.organisateur.pseudo }}</a>
                                </td>

                                <td class="colonne_table_pc">
                                    {% if sortie.etat.libelle != "Créée" %}
                                        <a href="{{ path('sortie_show', {'id': sortie.id}) }}">Afficher</a>
                                    {% endif %}
                                    {% if app.user.id == sortie.organisateur.id %}
                                        {% if sortie.etat.libelle == "Créée" %}
                                            <a href="{{ path('sortie_edit', {'id': sortie.id}) }}">Modifier</a>
                                            <a href="{{ path('sortie_publier', {'id': sortie.id}) }}">Publier</a>
                                        {% elseif sortie.etat.libelle == "Ouverte" %}
                                            <a href="{{ path('sortie_cancel', {'id': sortie.id}) }}">Annuler</a>
                                        {% endif %}
                                    {% else %}
                                        {# Foreach pour vérifier si l'utilisateur peut s'inscrire #}
                                        {% set inscrit = false %}
                                        {% for inscription in sortie.inscriptions %}
                                            {% if inscription.participant.id == app.user.id %}
                                                <a href="{{ path('sortie_quit', {'id': sortie.id}) }}">Se
                                                    désister</a>
                                                {% set inscrit = true %}
                                            {% endif %}
                                        {% endfor %}
                                        {% if (sortie.inscriptions.count() < sortie.nbInscriptionsMax) and (sortie.etat.libelle == "Ouverte") and (not inscrit) %}
                                            <a href="{{ path('sortie_join', {'id': sortie.id}) }}">S'inscrire</a>
                                        {% endif %}
                                    {% endif %}
                                </td>
                            </div>
                        </tr>

                    {% else %}
                        <tr>
                            <td colspan="9">Aucune sortie trouvée</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                </table>


        </div>
        <br>
        <div class="grid-x grid-padding-x">
            <a href="{{ path('sortie_new') }}" class="button">Créer une sortie </a>
        </div>
            <br>
    </div>
    </div>
</div>

        {% endblock %}
