{% extends 'base.html.twig' %}

{% block title %}Sortie{% endblock %}

{% block body %}
    <br>
    <div class="grid-container">
        <div class="grid-x grid-margin-x">
            <h3 class="cell small-4 large-offset-4 title-centered">Afficher une sortie</h3>
        </div>
        <br>

        <div class="grid-x grid-margin-x">
            <div class="cell small-12 medium-12 large-6">
                <div class="grid-x grid-margin-x ">
                    <div class="cell large-5"><b>Nom de la sortie:</b></div>
                    <div class="cell large-7">{{ sortie.nom }}</div>
                </div>
                <br>

                <div class="grid-x grid-margin-x">
                    <div class="cell small-5"><b>Date et heure de la sortie :</b></div>
                    <div class="cell small-7">{{ sortie.dateDebut ? sortie.dateDebut|date('d/m/Y H:i') : '' }}</div>
                </div>
                <br>

                <div class="grid-x grid-margin-x">
                    <div class="cell small-5"><b>Date limite d'inscription :</b></div>
                    <div class="cell small-7">{{ sortie.dateCloture ? sortie.dateCloture|date('d/m/Y') : '' }}</div>
                </div>
                <br>

                <div class="grid-x grid-margin-x">
                    <div class="cell large-5"><b>Nombre de places :</b></div>
                    <div class="cell large-7">{{ sortie.nbInscriptionsMax }} </div>
                </div>
                <br>
                <div class="grid-x grid-margin-x">
                    <div class="cell large-5"><b>Durée :</b></div>
                    <div class="cell large-7">{{ sortie.duree }} minutes</div>
                </div>
                <br>
                <div class="grid-x grid-margin-x">
                    <div class="cell large-5"><b>Description et infos :</b></div>
                    <div class="cell large-7">{{ sortie.description }}</div>
                </div>
                <br>
            </div>
            <div class="cell small-12 medium-12 large-6">
                <div class="grid-x grid-margin-x">
                    <div class="cell large-4"><b>Ville organisatrice :</b></div>
                    <div class="cell large-8">{{ sortie.lieu.ville.nom }}</div>
                </div>
                <br>
                <div class="grid-x grid-margin-x">
                    <div class="cell large-4"><b>Lieu :</b></div>
                    <div class="cell large-8">{{ sortie.lieu.nom }}</div>
                </div>
                <br>
                <div class="grid-x grid-margin-x">
                    <div class="cell large-4"><b>Rue :</b></div>
                    <div class="cell large-8"> {{ sortie.lieu.rue }}</div>
                </div>
                <br>
                <div class="grid-x grid-margin-x">
                    <div class="cell large-4"><b>Code postal :</b></div>
                    <div class="cell large-8">{{ sortie.lieu.ville.codePostal }}</div>
                </div>
                <br>
                <div class="grid-x grid-margin-x">
                    <div class="cell large-4"><b>Latitude :</b></div>
                    <div class="cell large-8">{{ sortie.lieu.latitude }}</div>
                </div>
                <br>
                <div class="grid-x grid-margin-x">
                    <div class="cell large-4"><b>Longitude :</b></div>
                    <div class="cell large-8">{{ sortie.lieu.longitude }}</div>
                </div>
                <br>
            </div>
        </div>


        {# <a class="button" href="{{ path('sortie_edit', {'id': sortie.id}) }}">Modifier</a> #}
        {# {% if (sortie.dateDebut | date("U") > "now"|date("U")) and (sortie.etat.libelle != "Supprimée") %} #}
        {# {{ include('sortie/_delete_form.html.twig') }} #}
        {# {% endif %} #}

        <div class="margin-left">
            <h5><strong> Liste des participants inscrits</strong></h5>
        </div>

        <table class="radius bordered shadow">
            <thead>
            <tr>
                <td>Pseudo</td>
                <th>Nom</th>
            </tr>
            </thead>

            <tbody>
            {% if sortie.inscriptions.count() > 0 %}
                {% for inscription in sortie.inscriptions %}
                    <tr>
                            <td>{{ inscription.participant.pseudo }}</td>
                            <td>{{ inscription.participant.prenom }} {{ inscription.participant.nom }}</td>
                    </tr>
                {% endfor %}

            {% else %}
                <tr>
                    <td colspan="2">Aucun participant inscrit</td>
                </tr>
            {% endif %}
            </tbody>
        </table>
        <a class="button" href="{{ path('sortie_index') }}">Retour</a>
    </div>


{% endblock %}
